.hero-section {
  width: 165px;
  height: 223px;
  top: 311.68px;
  left: 509px;
  gap: 0px;
  opacity: 0px;
}

.work-section,
.projects-section,
.contact-section {
  padding: 50px 20px;
}

.work-cards,
.project-card {
  display: flex;
  gap: 20px;
}

.Arrow {
  width: 91.78px;
  height: 81.86px;
  top: 240.24px;
  left: 600.88px;
  padding: 0px;
  gap: 0px;
  opacity: 1;
  position: absolute;
  z-index: 4;
}

.Eclypse {
  width: 1000px;
  height: 537px;
  top: 600px;
  left: 461px;
  gap: 4px;
  opacity: 0px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #fcfcfc 0%,
    rgba(50, 15, 133, 0) 100%
  );
}

.Me {
  top: 308.96px;
  left: 461px;
  gap: 0px;
  opacity: 0px;
  position: absolute;
  z-index: 2;
  background-color: white;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #763cac 0%,
    rgba(50, 15, 133, 0) 100%
  );
}

/* .Me {
  width: 258px;
  height: 259px;
  top: 305.96px;
  left: 461px;
  gap: 0px;
  opacity: 0px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #763cac 40%,
    rgba(46, 1, 97, 0) 100%
  );

  position: absolute;
  z-index: 2;
} */
