.nav-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: space-between;
  padding: left;
  background-color: #1a0b2e;
  width: 1980px;
  height: 113px;
  gap: 0px;
  opacity: 0px;
}

.nav-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: right;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

.menu-item {
  color: white;
  text-decoration: none;
  padding: 0 20px;
}

.menu-item:hover {
  text-decoration: underline;
}

.contact-btn {
  background-color: #a993fe;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.contact-btn:hover {
  background-color: #7e61e7;
}

.logo {
  width: 35px;
  height: 39px;
  top: 37px;
  left: 497px;
  gap: 0px;
  border: 4px 0px 0px 0px;
  opacity: 0px;
  position: absolute;
}
