body {
  color: #fff;
  background-color: #11071f;
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.body {
  text-align: center;
  padding: 50px 20px;
}

.work-section,
.projects-section,
.contact-section {
  padding: 50px 20px;
}

.work-cards,
.project-card {
  display: flex;
  gap: 20px;
}
