* {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #fff;  
  background-color:#11071F;
  width: 1990px;
  height: 4298px;
  top: 102px;
  left: -10px;
  gap: 0px;
  opacity: 0px;
}
